<%- include('header')%>
<%- include('nav')%>
<h1>This is the Sign-up page</h1> <br> 

<form action="/form" method="get">

    Username:<input type="text" name="Username" placeholder="Name"> <br><br>
    Email:<input type="email" name="email" placeholder="email"> <br><br>
    Password:<input type="password" name="password" placeholder="password"> <br><br>
    <button>Submit</button>

</form>

<%- include('footer')%>